
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    padding: 0%;
    margin: 0%;
    background-color: #040409;
    background-image: url('imgs/bg_img2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw; 
    height: 100vh; 
}

.header_main{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    }
    .header_main_sec1{
        height: 8vh;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    .header_main_sec1_div{
        height: 8vh;
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        font-size:3vh;
    }
    .header_main_sec1_div>a{
        text-decoration: none;
        color:  #ffffff;
    
    }
    
    a:hover {
        color:#0518af; 
        font-size: 2rem;
    }
    
    .header_main_sec2{
        height: 8vh;
        width: 50vw;
        /* margin-right: 3%; */
        padding-right: 3%;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
    }
    .header_main_sec2>p{
        color: #ffffff;
        font-size:3vh;
    }
    .header_main_sec2 p:first-child{
        color: red;
    }
    .header_main_sec2 p:last-child:hover{
        color: #0518af; 
        font-size: 2rem; 
    }